.dired{
    background-color: #161D26;
    &__item{
        color: #ddd;
        &__active{
            background-color: #363D46;
        }
    }
    &__title__pwd{
        color: #ddd;
    }
    &__title__count{
        color: #50b0f0;
    }
}
