.dired {
  background-color: #161D26;
}
.dired__item {
  color: #ddd;
}
.dired__item__active {
  background-color: #363D46;
}
.dired__title__pwd {
  color: #ddd;
}
.dired__title__count {
  color: #50b0f0;
}

/*# sourceMappingURL=dired.css.map */
