@font-face{
    font-family: "Meslo";
    src: url('../assets/meslo.ttf');
}

html{
    overflow-x: hidden;
}

body{
    background-color: #262D36;
    font-family: Meslo;
    color: #ddd;
}

#logo{
    color: grey;
    margin-top: 200px;
    font-weight: bold;
}

.menu{
    &__action__description{
    color: #50b0f0;
    font-weight: bold;
    }
    &__action__command{
        color: #a79eda;
        font-weight: bold;
    }

}


em{
    display: block;
    width: 50vw;
    color: grey;
}

iframe{
    width: 100vw;
    left: 0;
    position: absolute;
    border: 0;
}

#main_frame{
    height: 95vh;
    top: 0;
}

.bottom_frame{
    height: 30vh;
    display: none;
    bottom: 5vh;
    border-top: 1px solid darkgray;
}

#command-buffer{
    width: 100vw;
    height: 5vh;
    position: absolute;
    bottom: 0;
    color: #ddd;
}
