<ul>
  <li>SPC f f : open dired</li>
  <li>C x d : open dired</li>
  <li>- : parent directory in dired</li>
  <li>j : go down in dired</li>
  <li>k : go up in dired</li>
  <li>RET : enter directory or open file in dired</li>
  <li>ESC : close dired</li>
  <li>ESC : abort command typing</li>
  <li>SPC h c : open help command</li>
</ul>
