
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/dired.css" type="text/css"/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <title>Doom Emacs</title>
